page-pokemon-favorite {

  img.sprite {
    width: 75px;
    height: auto;
    margin: 0 10px 0 0 !important;
  }

  h2.noPoke {
    text-align: center;
    margin-top: 50%;
  }

  img.gifPoke {
    float: left;
    width: 30%;
    height: auto;
  }

  .list, .list-md, .list-ios {
    margin: 0;
  }

  .typeStyle {
    border-radius: 30px;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    padding: 4px 0px;
  }

  .itemType {
    padding: 0;
    float: left;
  }

  .itemTypeSize {
    width: 50%;
  }

  .label, .label-md {
    margin: 5% 0 3% 0;
  }

  .pokemonData {
    display: inline-block;
    font-size: 4.5vw;
  }

  .sortIcon {
    margin-right: 20px;
    color: #fff !important;
  }

  .sortIconClicked {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.7) !important;
  }

  ion-avatar {
    margin: 0px !important;
  }

  .card, .card-md, .card-ios {
    box-shadow: 0px 1px 2px 0px grey;
  }
}
