<ion-header>

  <ion-navbar color="danger">
    <ion-title>Favorite</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="pokeritos.getPokemonsFavorite().length > 0">
    <ion-item *ngFor="let pokemon of pokeritos.getPokemonsFavorite()">
      <ion-avatar item-end >
        <img class="sprite" [src]="getPokemon(pokemon.pokedexNumber)" >
      </ion-avatar>
      <h2>{{pokemon.nombre}}</h2>
      <p>Nº {{pokemon.pokedexNumber}}</p>
    </ion-item>
  </ion-list>
  <div *ngIf="pokeritos.getPokemonsFavorite().length <= 0">
    <img class="gifPoke" src="assets/icons/Y60K.gif">
    <h2 class="noPoke">No hay pokemones favoritos</h2>
  </div>
</ion-content>
