page-pokemon-list {

  ion-searchbar {
    padding: 0 !important;
  }

  img.sprite {
    width: 80px;
    height: auto;
  }

  ion-avatar {
    margin: 0 !important;
  }

  .list, .list-md, .list-ios {
    margin: 0;
  }

  .typeStyle {
    border-radius: 30px;
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    padding: 4px 0px;
  }

  .itemType {
    padding: 0;
    float: left;
  }

  .itemTypeSize {
    width: 50%;
  }

  .label, .label-md {
    margin: 5% 0 3% 0;
  }

  .pokemonData {
    display: inline-block;
    font-size: 4.5vw;
  }

  .card, .card-md, .card-ios {
    box-shadow: 0px 1px 2px 0px grey;
  }

  .gifPoke {
    display: block;
    margin: 0 auto;
  }

  .noPoke {
    text-align: center;
  }
}
