<ion-header>
  <ion-navbar color="redTo" class="prueba">
    <ion-title>
      Pokedex
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only class='menu-button' (click) = 'mostrarMenu()'><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let pokemon of pokemones | async" (click) = "openDetail(pokemon)">
    <ion-card>
      <ion-item>
        <ion-avatar item-end >
          <img class="sprite" [src]="getPokemonImg(pokemon.pokedexNumber)" >
        </ion-avatar>
        <div>
          <p class="pokemonData">#{{numberPokemon(pokemon.pokedexNumber)}}</p>
          <h2 class="pokemonData">{{pokemon.nombre}}</h2>
        </div>
        <ion-list *ngFor="let type of getType(pokemon)">
          <ion-item class="itemType" [ngClass]="{'itemTypeSize': twoTypes}">
            <div  class="typeStyle" [ngStyle]="{'background-color': getColorType(type)}">
              <span>{{type.name}}</span>
            </div>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-card>
  </ion-list>


</ion-content>
