page-pokemon-detail {

  img.imgPokemon {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
  }

  .star-full {
    position: absolute;
    left: 85%;
    font-size: 200%;
    color: gold;
  }

  .star-empty {
    position: absolute;
    left: 85%;
    font-size: 200%;
    color: black;
  }

  .arrowLeft {
    position: absolute;
    right: 72%;
    top: 10%;
    padding: 10%;
    font-size: 300%;
    color: DarkGrey;
  }

  .arrowRight {
    position: absolute;
    left: 72%;
    top: 10%;
    padding: 10%;
    font-size: 300%;
    color: DarkGrey;
  }

  .menu-button {
    margin-right: 20px;
  }

}
